
#####################################################################
#   Extruder
#####################################################################

[extruder]
step_pin: EBBCan:gpio18
dir_pin: !EBBCan:gpio19
enable_pin: !EBBCan:gpio17
rotation_distance: 53.494165         # Calibrated value
#gear_ratio: 5:1                  # Clockwork 2 gear ratio with 10-tooth motor gear
gear_ratio: 44:10, 37:17
microsteps: 32
full_steps_per_rotation: 200
nozzle_diameter: 0.400
filament_diameter: 1.75
heater_pin: EBBCan:gpio7
sensor_type: Generic 3950        # Correct type for 104NT-4 thermistor
sensor_pin: EBBCan:gpio27
min_temp: 10
max_temp: 300
max_power: 1.0
min_extrude_temp: 10
max_extrude_cross_section: 5
max_extrude_only_distance: 500
#control = pid
#pid_kp = 26.213
#pid_ki = 1.304
#pid_kd = 131.721
